*{
    margin: 0;
    padding: 0;
}
.login_main{
    margin:7em auto;
    width: 24%;
    height: 30em;
    text-align: center;
}
.login_info{
    font-size: 2em;
}
.login_textbox{
    width: 52%;
    height: 1em;
    margin: 2% 0;
    padding: 4%;
    color: gray;
    background-color: #f0f0f0;
    border: none;
    border-radius: 0.2em;
}
.login_btn{
    width: 50%;
    height: 3em;
    background-color: #FFE4E1;
    margin: 2% 0;
}